on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0

on fs && property:ro.debuggable=0
    # distinguish USB should connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    # Safe Symlinks for MediaTek PLPath Utils (Android 15 / One UI 7 Compatible)
    symlink /dev/block/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_b

    # Execute MediaTek Preloader Path Utils safely
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
